*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #dadada;
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;

}

header h1{
    color: blue;
    font-size: 300%;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 4%;
    padding: 20px;
    text-shadow: 1px 2px 2px black;
    
}

header h2{
    color: rgb(255, 0, 0);
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 4%;
    text-shadow: 1px 1px 2px black;
    padding-bottom: 20px;
}

nav{
    border: 1px solid black;
    margin-right: 5%;
    text-align: center;
    background-color: rgb(111, 105, 228);
    border-radius: 15px;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 70px 50px;
}

nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li{
    width: 200px;
    margin: 1%;
    padding: 1%;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
}

.sub-menu{
    display: none;
}

nav ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: rgb(190, 0, 0);
    margin-top: 5px;
    margin-left: -25px;
    border-radius: 10px;
}

nav ul li:hover .sub-menu ul{
    display: block;
}

nav ul li:hover .sub-menu ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7;
}

nav ul li:hover .sub-menu ul li:hover{
    background-color: rgb(83, 42, 165);
}

.campo{
    border-radius: 10px 15px 10px 15px;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    background-color: rgb(238, 238, 238);
}

aside{
    background-color: rgba(50, 53, 255, 0.275);
    margin-top: 5%;
    margin-right: 77%;
    margin-left: 5%;
    padding: 1%;
    padding-bottom: 15%;
    position: absolute;
    border-radius: 0px 10px 50px 15px;
}

aside h2{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px;
    font-size: 21px;
    text-decoration: underline;
}

.p1 a{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.p1 a:hover{
    color: #0011ff;
}

.p2 a{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.p2 a:hover{
    color: #0011ff;
}

section{
    
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5%;
    padding: 1%;
    
}

section h3{
    color: rgb(185, 65, 65);
    text-shadow: 1px 1px 1px;
    text-align: center;
    font-size: 175%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.content{
    margin-left: 5%;
}


.psh1-h3{
    margin-top: 5%;
}


footer{
    margin-top: 5%;
    padding: 2.5%;
    background-color: rgb(156, 36, 36);
    border-radius: 15px 15px 15px 15px;
}